/* style */
body {
  font: 16px/28px arial, sans-serif;
  background-color: #eaeaea;
  background-image: url(webb.png);
  color: #333;
}

.container {
  width: 800px;
  margin: auto;
  background-color: #ffffff;
}

.header {
  padding: 5px;
  background-color: rgb(17, 78, 210);
  display: flex;
}

.header .judul {
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-top: 25px;
}

.header ul li {
  font-size: large;
  display: inline-block;
  margin-top: 10px;
  padding-left: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header a {
  text-decoration: none;
  color: black;
  padding: 3px;
}

.header a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  transition-duration: 1s;
}

.hero {
  height: 450px;
  background-image: url(hero.jpg);
  background-size: cover;
  background-position: 0 -60;
  border-bottom: 5px solid rgb(0, 170, 255);
  border-top: 5px solid rgb(0, 170, 255);
}

.content {
  padding: 20px;
}

.content h2 {
  font-size: 28px;
  font-weight: bold;
}

.content .penulis {
  font-size: 11px;
  margin-top: -5px;
}

.content .penulis a {
  color: rgb(255, 0, 0);
  text-decoration: none;
}

.content p {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer {
  background-color: #333;
  padding-bottom: 25px;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
  height: 1px;
}
